* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
}

.background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
  background-color: rgba(118, 118, 118, 0.1);
}

.show {
  display: block !important;
}

.clickme {
  width: 90%;
  display: block;
  margin: 15px auto;
  text-align: center;
  height: 40px;
  font-size: 18px;
  background-color: white;
  border: 0;
  color: white;
  background-color: lightcoral;
  outline: none;
  cursor: pointer;
  font-size: 15px;
}

.clickme:hover, .clickme:active {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
  background-color: tan;
}

@media screen and (min-width: 992px) {
  .clickme {
    width: 40%;
  }
}

.popup {
  position: absolute;
  display: none;
  background-color: white;
  -webkit-box-shadow: 0px 0px 3px rgba(118, 118, 118, 0.5);
          box-shadow: 0px 0px 3px rgba(118, 118, 118, 0.5);
  border-radius: 5px;
  width: 95%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.popup .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 5px;
  margin-top: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.popup .form .closer {
  text-align: right;
  margin: 5px;
  height: 24px;
}

.popup .form .closer span {
  cursor: pointer;
  color: #7d1e1e;
  font-size: 22px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.popup .form .closer span:hover {
  font-size: 24px;
  color: red;
}

.popup .form label {
  width: 90%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: maroon;
}

.popup .form label input {
  outline: none;
  border: 1px solid peru;
  height: 24px;
}

.popup .form button {
  width: 90%;
  margin: 15px auto;
  height: 30px;
  background-color: white;
  border: 2px solid blueviolet;
  color: white;
  background-color: slateblue;
  cursor: pointer;
  font-size: 15px;
}

.popup .form button:disabled {
  background-color: aliceblue;
  color: #767676;
  border: 2px solid #767676;
  cursor: not-allowed;
}

@media screen and (min-width: 992px) {
  .popup {
    width: 400px;
  }
}

.openAnimate {
  -webkit-animation: openpop 0.5s 1 forwards;
          animation: openpop 0.5s 1 forwards;
}

@-webkit-keyframes openpop {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.3, 0.3);
            transform: translate(-50%, -50%) scale(0.3, 0.3);
  }
  70% {
    opacity: 0.8 !important;
    -webkit-transform: translate(-50%, -50%) scale(1.1, 1.1);
            transform: translate(-50%, -50%) scale(1.1, 1.1);
  }
  80% {
    opacity: 0.8 !important;
    -webkit-transform: translate(-50%, -50%) scale(1.1, 1.1);
            transform: translate(-50%, -50%) scale(1.1, 1.1);
  }
  100% {
    opacity: 1 !important;
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
  }
}

@keyframes openpop {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.3, 0.3);
            transform: translate(-50%, -50%) scale(0.3, 0.3);
  }
  70% {
    opacity: 0.8 !important;
    -webkit-transform: translate(-50%, -50%) scale(1.1, 1.1);
            transform: translate(-50%, -50%) scale(1.1, 1.1);
  }
  80% {
    opacity: 0.8 !important;
    -webkit-transform: translate(-50%, -50%) scale(1.1, 1.1);
            transform: translate(-50%, -50%) scale(1.1, 1.1);
  }
  100% {
    opacity: 1 !important;
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
  }
}
/*# sourceMappingURL=styles.css.map */