@import "./normalise";

.background{
    display:none;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
    background-color: rgba(118,118,118,0.1);
}

.show{
    display:block !important;
}

.clickme{
    width:90%;
    display: block;
    margin:15px auto;
    text-align: center;
    height:40px;
    font-size:18px;
    background-color: white;
    border:0;
    color:white;
    background-color:lightcoral;
    outline:none;
    cursor: pointer;
    font-size: 15px;
    &:hover,&:active{
        transform:scale(1.01,1.01);
        background-color: tan;
    }

    @media screen and (min-width:992px) {
         width:40%;   
    }
}

.popup{
    position: absolute;
    display:none;
    background-color: white;
    box-shadow:0px 0px 3px rgba(118,118,118,0.5);
    border-radius: 5px;
    width:95%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    transition: all 0.3s ease-in-out;

    .form{
        display: flex;
        margin:15px 5px;
        margin-top:5px;
        flex-flow: column nowrap;

        .closer{
            text-align: right;
            margin:5px;
            height:24px;
            span{
                cursor: pointer;
                color:rgb(125,30,30);
                font-size:22px;
                transition: all 0.5s;
                &:hover{
                    font-size:24px;
                    color:red;
                }
            }
        }
        label{
            width:90%;
            margin:10px auto;
            display: flex;
            justify-content: space-between;
            color:maroon;
            input{
                outline:none;
                border:1px solid peru;
                height: 24px;
            }
        }
        button{
            width:90%;
            margin:15px auto;
            height:30px;
            background-color: white;
            border:2px solid blueviolet;
            color:white;
            background-color: slateblue;
            cursor: pointer;
            font-size: 15px;
            &:disabled{
                background-color: aliceblue;
                color:rgb(118,118,118);
                border:2px solid rgb(118,118,118);
                cursor:not-allowed;
            }
        }
    }


   @media screen and (min-width:992px){
        width:400px;
   } 
}

.openAnimate{
   animation: openpop 0.5s 1 forwards;
}  

@keyframes openpop{
    0% {
        opacity:0;transform:translate(-50%,-50%) scale(0.3,0.3);
    }
    70% {
        opacity:0.8 !important;transform:translate(-50%,-50%) scale(1.1,1.1);
    }
    80% {
        opacity:0.8 !important;transform:translate(-50%,-50%) scale(1.1,1.1);
    }
    100% {
        opacity:1 !important;transform:translate(-50%,-50%) scale(1,1);
    }
  }